################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab_PP/.vs/Lab_PP/v16/Browse.VC.opendb
